.navbar{
    padding: 3px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 1300px; */
    background-color: white;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 1;
}
#logo{
    width: 150px;
}
.navbar-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}
.navbar-menu a{
    transition: 0.4s;
}
.navbar-menu a:hover{
    transform: scale(1.07);
}
.navbar .active{
    color: tomato;
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-right{
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
}
.navbar-right .searchicon{
  color: #49557e;
  font-size: 30px;
  transition: 0.4s;
}
.navbar-right .searchicon:hover{
    transform: scale(1.07);
}
.menu-icon{
    display: none;
}
.icon{
    display: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    color: white;
    font-size: 10px;
    background-color: #49557e;
    top:6%;
    right: 11%;
    padding: 10px;
    border: 1px solid #49557e;
    border-radius: 10px;    
}

.navbar-cart-icons .carticon{
    color: #49557e;
    font-size: 30px;
    transition: 0.1s;
}
.navbar-cart-icons .carticon:active{
    color: tomato;
}

.navbar button{
    border-radius: 40PX;
    /* width: 80px; */
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    background-color: #49557e;
    transition: 0.5s;
}
.navbar button:hover{
    transform: scale(1.03);
}
.navbar-cart-icons{
    position: relative;
}
.navbar-cart-icons .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 5px;
    background-color: tomato;
    top: -1px;
    right: -6px;
}
@media (max-width:1050px){
    .navbar{
        width: 100%;
    }
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right Button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (min-width:320px)and (max-width:770px){
    .navbar-menu{
        display: none;
    }
    #logo{
        width: 110px;
    }
    .menu-icon{
        display: inline;
        margin-right: -6px;
    }
    .navbar-right{
        gap:7px;
        
    }
    .navbar-right button{
        font-size: 11px;
        padding: 4px 13px;
    }
     
}